/** GWT game client */
.sdge-help-float {
	
}

.sdge-help-subtitle {
	font-size: 0.7em;
	font-family: serif;
	vertical-align: super;
	text-indent: 5px;
}

.sdge-play-errorDialog {
	width: 400px;
}

.sdge-play-console {
	border: blue, medium;
	background-color: gray;
	font-family: monospace;
	font-size: 2em;
}

.sdge-play-message {
	border: white;
	border-bottom: thin;
}

.sdge-play-gamelabel {
	background-color: transparent;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sdge-play-gamebutton {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sdge-play-gamespace {
	border: medium, red;
	background: green;
	/* 
        For display: green 
        For printing / testing: white
    */
}

#sdge-play-errorDialog-closeButton {
	margin: 15px 6px 6px;
}

/** 
    Site styles (HTML/JSP) 
*/
.sdge-site-header,.sdge-site-navbar {
	font-size: 12px;
	line-height: 1.25;
}

*.sdge-site-header,*.sdge-site-navbar {
	margin: 0;
	padding: 0;
}

.sdge-site-header {
	background-color: #023B53;
	color: white;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.sdge-site-header h1 a {
	color: white;
	text-decoration: none;
}

.sdge-site-header * {
	color: white;
}

.sdge-site-header a {
	color: white;
}

.sdge-site-header a:visited,.sdge-site-header a:hover {
	color: white;
}

.sdge-site-header a:hover {
	color: #CCFFEE;
}

.sdge-site-header h1 {
	color: white;
	font-size: 2.3em;
	font-weight: bold;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

.sdge-site-accountinfo {
	float: right;
	width: auto;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #006900;
	font-size: 1.25em;
	font-weight: bold;
}

.sdge-site-body h1 {
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.sdge-site-body h2 {
	margin: 0;
	padding: 0;
	line-height: 1.25em;
	text-align: left;
}

.sdge-site-body {
	float: left;
	text-align: left;
	margin: 10px 0 0 10px;
	padding: 0;
	width: 500px;
}

.sdge-site-navbar {
	float: left;
	width: auto;
	padding-right: 10px;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid black;
	background-color: #023B53;
	height: 1280px;
}

.sdge-site-adbar {
	float: right;
	width: auto;
	padding-right: 0px;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid black;
	background-color: #023B53;
}

.sdge-game-listing {
	padding-bottom: 0px;
	text-indent: -10px;
	padding-left: 20px;
}

.sdge-game-rule {
	padding-bottom: 10px;
	text-indent: -20px;
	padding-left: 20px;
}

.sdge-game-rule-mod {
	padding-left: 20px;
}

.sdge-game-rule-modheader {
	font-weight: bold;
}

.sdge-site-footer {
	padding: 0;
	text-indent: 0;
	font-size: 0.8em;
}

.sdge-site-header h1 sub {
	color: cyan;
	font-size: 0.5em;
	font-weight: bold;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

table.sdge-bank-statement {
	border: 3px solid;
}

div.sdge-bank-statement {
	border: 1px dotted;
}

.sdge-bank-statement td {
	border: 1px dotted;
}

.sdge-bank-statement h4 {
	padding: 0;
	margin: 0;
	font-size: 1.2em;
}

.h3 {
	font-size: 1.4em;
}

div.sdge-game-listing {
	border: 1px dotted;
}

.sdge-play-top-message {
	border: white;
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: thin;
}

.sdge-play-notification table div {
	border: red;
	border-width: 2px;
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: thin;
	background-color: silver;
}

.sdge-help-float {
	
}

.sdge-help-subtitle {
	font-size: 0.7em;
	font-family: serif;
	vertical-align: super;
	text-indent: 5px;
}

.sdge-play-errorDialog {
	width: 400px;
}

.sdge-play-console {
	border: blue, medium;
	background-color: gray;
	font-family: monospace;
	font-size: 2em;
}

.sdge-play-message {
	border: white;
	border-bottom: thin;
}

.sdge-play-gamelabel {
	background-color: transparent;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sdge-play-gamebutton {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sdge-play-gamespace {
	border: medium, red;
	background: green;
	/* 
        For display: green 
        For printing / testing: white
    */
}

#sdge-play-errorDialog-closeButton {
	margin: 15px 6px 6px;
}

/** 
    Site styles (HTML/JSP) 
*/
.sdge-site-header,.sdge-site-navbar {
	font-size: 12px;
	line-height: 1.25;
}

*.sdge-site-header,*.sdge-site-navbar {
	margin: 0;
	padding: 0;
}

.sdge-site-header {
	float: right;
	background-color: #1D5057;
	color: white;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

.sdge-site-header h1 a {
	color: white;
	text-decoration: none;
}

.sdge-site-header * {
	color: white;
}

div.sdge-site-header {
	border-bottom: 3px double #9AEC52;
}

.sdge-site-header a {
	color: white;
}

.sdge-site-header a:visited,.sdge-site-header a:hover {
	color: white;
}

.sdge-site-header a:hover {
	color: #D79600;
}

#bank, #openGames {
    font-size: 1.2em;
    background-color: #8B2F34;
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
    border: 0;
}

.sdge-site-header h1 {
	color: white;
	font-size: 2.3em;
	font-weight: bold;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

.sdge-site-account * {
    color: black;
}

.sdge-site-account {
    color: black;
	background-color: #007383;
	float: right;
	width: auto;
	text-align: right;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.25em;
	font-weight: bold;
}

.sdge-site-title {
	float: left;
}

.sdge-site-dashboard {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: #DBDB8C;
	font-size: 1.25em;
	font-weight: bold;
	white-space: nowrap;
}

.sdge-site-body h1 {
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.sdge-site-body h2 {
	margin: 0;
	padding: 0;
	line-height: 1.25em;
	text-align: left;
}

.sdge-site-body {
	float: left;
	text-align: left;
	margin: 10px 0 0 10px;
	padding: 0;
	width: 500px;
}

.sdge-site-navbar {
	float: left;
	width: auto;
	padding-right: 10px;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid black;
	background-color: #007383;
	color: white;
	height: 1280px;
}

.sdge-site-adbar {
	float: right;
	width: auto;
	padding-right: 0px;
	font-size: 1.25em;
	font-weight: bold;
	text-align: left;
	border-right: 1px solid black;
	background-color: #007383;
}

.sdge-game-listing {
	padding-bottom: 0px;
	text-indent: -10px;
	padding-left: 20px;
}

.sdge-game-rule {
	padding-bottom: 10px;
	text-indent: -20px;
	padding-left: 20px;
}

.sdge-game-rule-mod {
	padding-left: 20px;
}

.sdge-game-rule-modheader {
	font-weight: bold;
}

.sdge-site-footer {
	padding: 0;
	text-indent: 0;
	font-size: 0.8em;
}

.sdge-site-header h1 sub {
	color: cyan;
	font-size: 0.5em;
	font-weight: bold;
	text-align: left;
	margin: 0 auto;
	padding: 0;
}

table.sdge-bank-statement {
	border: 3px solid;
}

div.sdge-bank-statement {
	border: 1px dotted;
}

.sdge-bank-statement td {
	border: 1px dotted;
}

.sdge-bank-statement h4 {
	padding: 0;
	margin: 0;
	font-size: 1.2em;
}

.h3 {
	font-size: 1.4em;
}

div.sdge-game-listing {
	border: 1px dotted;
}

.sdge-play-top-message {
	border: white;
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: thin;
}

div.sdge-game-type {
	width: 300px;
	margin: 2px;
	margin-bottom: 10px;
	vertical-align: top;
}

div.sdge-game-type h3 {
	text-align: center;
	width: 100%;
	background-color: #6F0006;
}

div.sdge-game-type h3 * {
	color: white;
	text-transform: capitalize;
	text-decoration: none;
}

div.sdge-game-type * {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.sdge-play-notification table div {
	border: red;
	border-width: 2px;
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: thin;
	background-color: silver;
}

.sdge-site-header .tabs * {
	font-family: monospace;
}

span.breadcrumb-delimiter {
	font-size: 0.75em
}

span.subtitle {
	font-size: 0.5em
}

*.sdge-site-header *.tabs * {
	font-size: 1.3em
}

*.sdge-site-header *.tabs span {
	padding-right: 5px;
}

*.sdge-site-header *.tabs a {
	text-decoration: none;
	padding: 1px 2px 5px 2px;
}

*.sdge-site-header *.tabs *.tab-other * {
	color: white;
	background-color: #6F0006;
}

*.sdge-site-header *.tabs *.tab-current * {
	color: black;
	background-color: #D3000B;
}